
<div class="flex justify-center my-32">
  <div class="w-[80%] flex flex-col sm:grid sm:grid-cols-2">
    <div class="mx-auto mt-6">
      <div class="h-[250px] sm:h-[300px]">
        <img class="mx-auto max-h-[300px]" src="{{imgSelected}}">
      </div>
      <div class="flex flex-wrap mt-4">
        <div class="cursor-pointer hover:scale-105 duration-150" *ngFor="let item of listImages">
          <img (click)="selectImg(item.image)" class="h-[47px] sm:h-[70px] xl:h-22 2xl:h-24 mr-2" src="{{item.image}}">
        </div>
      </div>
    </div>
    <div class="mt-6 ml-5">
      <div class="flex flex-col">
        <div class="text-primaryGreen text-center sm:text-start text-2xl sm:text-4xl mb-10 font-arima font-semibold">Nossos serviços</div>
        <div class="uppercase text-primaryGreen text-lg font-arima font-semibold">Plantão 24 horas</div>
        <div class="text-gray-500 ">(11) 4122-0000 / (11) 4122-0730</div>
        <div class="max-w-[450px] text-gray-500 mt-4 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Higienização.</div>
        </div>
        <div class="max-w-[450px] text-gray-500 mt-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Necromaquiagem.</div>
        </div>
        <div class="max-w-[450px] text-gray-500 mt-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Agente especialmente preparado para atender as famílias enlutadas.</div>
        </div>
        <div class="max-w-[450px] text-gray-500 mt-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Transporte de urnas.</div>
        </div>
        <div class="max-w-[450px] text-gray-500 mt-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Recepção 24 h.</div>
        </div>
        <div class="max-w-[450px] text-gray-500 mt-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Salas de estar climatizadas.</div>
        </div>
        <div class="max-w-[450px] text-gray-500 mt-2 flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <div class="ml-1">Serviços de vigilância por câmeras 24 h.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  <div class="bg-white opacity-100 py-8 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 flex">
      <div>
        <img class="h-[300px] rounded-sm" src="./assets/images/funeraria-1.jpg">
      </div>
      <div class="mx-8 max-w-2xl ">
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Funeral Place</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">O Velório Funeral Place, foi a primeira Casa de Velório do ABC. Fica localizado em região nobre de São Caetano do Sul, tido como um dos principais, realiza velórios e costuma atender com o mais alto nível os que procuram os seus serviços. É um dos mais requisitados e destaca-se pelo seu excelente atendimento, cordialidade e presteza.</p>
      </div>
    </div>
  </div>
  <div class="bg-white opacity-100 py-8 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 flex">
      <div class="mx-8 max-w-2xl ">
        <p class="mt-6 text-lg leading-8 text-gray-600">Instalado em uma casa muito aconchegante, foi totalmente restaurada. Suas salas foram totalmente adequadas para a realização de velórios, Conta atualmente com 2 salas. São salas amplas e bem iluminadas que confortam as famílias enlutadas com muita dignidade e respeito neste momento difícil, e que assim possam honrar a memória do falecido antes do sepultamento.</p>
      </div>
      <div>
        <img class="h-[300px] rounded-sm" src="./assets/images/img-funeraria-8.png">
      </div>
    </div>
  </div>
-->
<app-solicitar-contato></app-solicitar-contato>
